/* https://colorhunt.co/palette/157118 */
/* https://colorhunt.co/palette/159233 */

:root {
  --first-dark-color: #23374d;
  --second-dark-color: #1089ff;
  --first-light-color: #e5e5e5;
  --second-light-color: #eeeeee;
  --third-dark-color: #4b8e8d;
  --fourth-dark-color:#396362;
  --third-light-color: #ffe7d1;
  --fourth-light-color: #f6c89f;
  --fifth-light-color: #f58b54;
}

.app-header {
  background-color: var(--first-dark-color);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--first-light-color);
  text-align: center;
}

.app-body {
  background-color: var(--first-light-color);
  min-height: calc(80vh - 20px);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: var(--first-dark-color);
  padding: 10px 10vw 10px 10vw;
}

.dictionary-list, nav{
  border:1px solid var(--fourth-dark-color);
}
.dictionary-element, nav{
  background-color: var(--fourth-light-color);
  color: var(--fourth-dark-color);
  display: flex;
}

.dictionary-element_first{
  width: 20%;
  text-align: center;
}
.dictionary-element_second,.dictionary-form-edit_text{
  width: 60%;
  text-align: center;
}

.dictionary-element_third{
  width: 15%;
  text-align: center;
}

.dictionary-element_btn_delete{
  width: 5%;
}
.btn, a{
  text-align: center;
  cursor: pointer;
}

.btn:hover, a:hover{
  background-color: var(--second-light-color);
}
.dictionary-element:nth-child(even){
  background-color: var(--third-light-color);
  color: var(--fourth-dark-color);
}

.dictionary-element:hover{
  background-color: var(--fifth-light-color);
  color: var(--first-dark-color);
}

.dictionary-form {
  display:flex;
  justify-content: flex-end;
  }

.dictionary-form-add_button, nav{
  font-size: calc(10px + 2vmin);
  color: var(--first-dark-color);
}
.dictionary-form-add_text, .dictionary-form-edit_text{
  font-size: calc(10px + 2vmin);
  color: var(--first-dark-color);
}
a {
  text-decoration: none;
}